/*Styles the Navbar Font*/

/*Styles the Nav Buttons*/
.nav button{
    background-color: rgb(46, 122, 189);
    border: none;
    font-size: large;
    color: white;
    width: 125px;
    height: 50px;
}
/*What Happens when the user hovers over a Nav Button*/
.nav button:hover{
    background-color: rgb(43, 82, 116);
    cursor:pointer;
}
/*Styles the Navigation bar*/
.nav-bar{
    position: sticky;
    top: 0%;
    padding: 0%;
    margin: 0%;   
    background-color: rgb(46, 122, 189);
    display: flex;
    justify-content: center;
}
.name_contact {
    display: flex;
    /*background-image: url(https://cdn.pixabay.com/photo/2016/06/02/02/38/mesh-1430108_960_720.png);*/
    background-image: radial-gradient(rgb(46, 122, 189),rgb(202, 193, 164));
    background-position: left;
    background-size: cover;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 5px;
    border-style: dashed;
    margin: 5px;
}
.name_contact .title_with_sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.name_contact img{
    max-width: 20%;
    border-radius: 150px;
}

/*Used for the General Look of the Information Section of the Webpage*/
.Information{
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
}

.Information .container{
    display: flex;
    justify-content: top;
    flex-direction: column;
    width: 90%;
    border: 5px;
    border-color: rgb(0, 0, 0);
    border-style: dashed;
    margin: 5px;
    padding: 5px;
}
.Information .container img{
    display: flex;
    justify-content: top;
    width: 10%;
    height: 10%;
    border: 5px;
    border-color: rgb(0, 0, 0);
    margin: 5px;
    padding: 5px;
}

/*This is pretty MESSY*/
.Information .container .email-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Information .container .email-form input {
    text-align: center;
    height: 50px;
    width: 200px;
    align-self: center;
    border-radius: 10px;
    margin-bottom: -10px;
  }
.Information .container .email-form form textarea{
    border-radius: 10px;
    height: 80px;
    align-content: center;
    text-align: center;
    resize: none;
}
.Information .container .email-form h6{
    align-self: center;
    text-align: center;
}
.Information .container .email-form button:hover{
    background-color: rgb(43, 82, 116);
    cursor:pointer;
}
.Information .container .email-form button{
    align-self: center;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    height: 50px;
}

/*Styles Images inside of a conatiner item*/
.container img{
    max-width: 50px;
    height: auto;
    border-radius: 15px;
    border-style:solid;
    border-color: black;
    margin: 5px;
}
/*Styles Certifications In Progress ordered lists*/
.InProgressList ol li{
    list-style:decimal;
}
/*Styles Completed Certifications ordered lists*/
.CompletedList ol li {
    display: flex;
    align-items: center;
    align-content: top;
    list-style: decimal;
}
.CompletedList ol li img{
    max-width: 180px; /* Adjust size as needed */
    height: auto;
}
/*Styles no order lists*/
ul li{
    list-style:square;
}

/*Education Section, Hides List numbering*/
.Information .container ol{
    list-style: none;
}

/*Used to center text in a block*/
.center-text{
    text-align: center;
}
/*Styles Containers outside of the Information Section*/
.container{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 500px;
    border: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    margin: 5px;
    padding: 5px;
}
.container .udemy-images{
    display: flex;
    flex-direction: row;
}
.container .udemy-images img{
    min-width: 10px;
    max-width: 20%;
    width: 600px;
    min-height: auto;
}
/*Used to Style Title Sections of the webpage*/
.title{
    font-size: larger;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
/*Styles the Footer for the webpage*/
footer{
    display: flex;
    align-content: center;
    flex-direction: row;
}
/*Styles the Main Body of the webpage*/
body{
    margin: 0%;
    padding: 0%;
    font-size:larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(202, 193, 164);
}